Checks: '*,-fuchsia*,
-llvmlibc*,
-*braces-around-statements,
-hicpp-noexcept-move,
-readability-named-parameter,
-modernize-use-trailing-return-type,
-bugprone-narrowing-conversions,
-google-runtime-references,
-cppcoreguidelines-pro-bounds-constant-array-index,
-misc-non-private-member-variables-in-classes,
-cppcoreguidelines-avoid-magic-numbers,
-readability-magic-numbers,
-altera-struct-pack-align,
-cppcoreguidelines-non-private-member-variables-in-classes,
-abseil-string-find-str-contains,
-google-runtime-int,
-cppcoreguidelines-pro-bounds-pointer-arithmetic,
-cppcoreguidelines-pro-bounds-array-to-pointer-decay,
-cppcoreguidelines-pro-type-union-access,
-altera-unroll-loops,
-altera-id-dependent-backward-branch,
-Wunused-parameter,
-bugprone-easily-swappable-parameters,
-google-readability-todo,
-llvm-header-guard,
-readability-identifier-length'

CheckOptions:
  - key:             cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value:           '1'
  - key:             hicpp-special-member-functions.AllowSoleDefaultDtor
    value:           '1'
